[2014-02-05 19:46] ryanwilliamquinn opened #4 "intermittent errors when loading multiple dictionaries"
I'm noticing some intermittent errors when initializing multiple dictionaries:
terminated by signal SIGSEGV (Address boundary error).

Maybe I'm doing something weird in the way I am using the library.  I made an example in my fork, in the "initErrors" branch.  You can check it out here:

git@github.com:ryanwilliamquinn/nodehun.git

then go to the examples folder and run:
node shortDictionaryList.

[2014-02-09 02:50] #4 closed, assigned to nathanjsweet

[2014-02-24 17:03] serjrd opened #6 "Stemming function"
Hi,
Could you please also implement the stemming functionality of the libhunspell?

[2014-03-08 01:48] #6 closed, assigned to nobody

[2014-04-10 11:49] serjrd opened #7 "The 0.2.x versions result in a Segmentation fault error under Ubuntu"
The 0.2.[0-1] versions crash with the **Segmentation fault (core dumped)** error on two of the following example tests:

[code]

While 0.1.9 works fine.

[2014-04-14 22:52] #7 closed, assigned to nobody

[2014-07-09 12:31] rexxars opened #10 "First argument in callbacks should be inverted?"
Generally, callbacks in node reserve the first argument as an "error" check:

[code]

While in nodehun, the roles seems to be inverted, where the first argument represents a success:

[code]

Changing this would be a pretty big backwards-incompatible change, but in my opinion it would make a lot of sense to keep it as close to the "de-facto" node style as possible.

This basically applies to all m

[2014-08-08 08:49] japrescott opened #11 "is nodehun correctly releasing memory/beeing destroyed?"
Hey Nathan
First off, thank you for creating this lib, awesome!

I am not sure from where I am getting the errors, but maybe you can at least give me the confidence, that it isn't nodehun :)

I am writing tests for a wrapper of your library and thus, am creating many instances via createNewNodehun and load a 20MB dictionary. I see a spike in memory consumption during the tests and they seem only t

[2014-09-11 04:32] #10 closed, assigned to nobody

[2014-10-02 17:57] #11 closed, assigned to nobody

[2014-10-14 11:32] reznikartem opened #12 "Build for Node.JS 0.11.x"
Hello! Is it possible to adapt nodehun for use with node 0.11.x (eg by nan - https://github.com/rvagg/nan? Alas, I do not have enough knowledge of C++ :(

[2014-10-17 22:07] #12 closed, assigned to nobody

[2014-12-14 00:03] nathanjsweet opened #13 "Memory Releasing issue"
For Someone named Matt:

Hi, Nathan,

I'm working on a node.js-based spell-checking service and was delighted to stumble upon [1]. Thanks for creating/maintaining this hunspell binding.

I'm running into an issue, on my Mac (OSX Yosemite) where the node.js process crashes with 'Segmentation fault: 11' randomly after as few as 11 HTTP requests and up to ~100 HTTP requests.

If I cache a single node

[2014-12-24 21:49] ben-page opened #15 "not compatible with node v0.11"
nodehun isn't compatible with node v0.11 or the soon to be released v0.12. The easiest way to accomplish this is with this: [NAN](https://github.com/rvagg/nan/)

[2015-01-01 00:58] ben-page commented on #15
Why not be ready when it releases? Many people are already using v0.11 in production. It's pretty much your only choice if you use node-webkit.

Plus, v0.11.15 considered the [release candidate](https://twitter.com/nodejs/status/545349270241435648) for v0.12. The [API changes](https://github.com/joyent/node/wiki/API-changes-between-v0.10-and-v0.12) have been available for months. Moreover, if you

[2015-01-01 01:02] nathanjsweet commented on #13
Matt,
I'm not on Yosemite, yet, I will update later to check this out. I'm hoping that you plan on deploying on a linux server. If that's the case, then I would say you shouldn't have to worry about this issue (I've tested this script on several linux boxes and they all worked fine).

This is going to sound like a cop out, but OSX sucks. I run into all sorts of memory and segmentation issues that

[2015-01-01 01:02] #13 closed

[2015-01-01 01:58] nathanjsweet commented on #15
The only thing I'm using mentioned in the changes is Buffer, but I never instantiate it. From what I can see in the code I should be okay.

[2015-01-01 20:09] mattoshry commented on #13
Fair enough, Nate.

OSX has been a decent dev platform, but deployment will be on Linux. Will keep an eye out during perf / load testing on target OS.

Best,
Matt

Nathan Sweet <notifications@github.com> wrote:

[2015-01-30 13:39] peraferrer opened #16 "Charset suggestions error"
Hi, we are using nodehun with dictionaries (es_AR.aff, es_AR.dic) and when suggestions are generated, words with spanish accents are displayed weird.

We tried changing the charset file (es_AR.aff, es_AR.dic) and have no luck. Also, we changed the charset for each word from suggestions array, and it didn't work neither.

Finally, we set the charset in the response header and we have the same resul

[2015-02-01 22:44] nathanjsweet commented on #16
I am busy this week, I'll try to get to it this coming weekend. Thanks for your patience, and I'm sorry it isn't working for you.

[2015-02-08 01:38] nathanjsweet commented on #16
So I downloaded the es_AR.dic and es_AR.aff files and noticed that they were being served blindly as UTF-8, even though they were actually encoded ISO-8859-15, so I just converted them to UTF-8 (which you have to do for javascript, and, I think hunspell). Anyways, after I did that they worked perfectly. If you have `inconv`, which you should on any *nix system, then you can simply run the followin

[2015-02-08 01:38] #16 closed

[2015-02-08 01:53] nathanjsweet commented on #13
Matt,
Have you noticed any problems on linux?

[2015-02-09 08:34] reznikartem commented on #15
Hello! Can i remind you about this problem? :)
Thank you!

[2015-02-11 12:10] peraferrer commented on #16
Thanks Nathan, it worked perfect, I also needed to convert the .dic file.

A hug.

[2015-02-11 16:12] nathanjsweet commented on #16
You're welcome! Right back at you :)

[2015-02-16 19:02] kdzwinel opened #17 "Two dictionaries - suggestion is the same as original word"
nodehun version - 1.0.2

[code]

[2015-02-16 19:03] kdzwinel opened #18 "Two dictionaries - segmentation fault"
nodehun version - 1.0.2
node version - v0.10.36
OS X

[code]

[2015-02-17 08:40] rexxars opened #19 "Nodehun not compatible with node 0.12 and iojs"
I can't seem to build nodehun on node 0.12 and iojs.
I'm guessing this is because of an updated V8?

[2015-02-19 06:37] nathanjsweet commented on #17
I'm unable to reproduce this.
Your code should have a callback in the addDictionary method. Are you using the dictionaries from [libreoffice](http://cgit.freedesktop.org/libreoffice/dictionaries/tree/en/en_GB.dic)?

[2015-02-19 06:49] nathanjsweet commented on #18
I'm unable to reproduce this, but I would encourage you to productionalize your code to get it running. Try using `readfile` instead of `readFileSynce` and try running this on linux to see if it works. I've chased too many [OSX segfaults](https://github.com/nathanjsweet/nodehun/issues/13) to care about it (the OS) as anything more than a dev environment.

[2015-02-19 06:50] nathanjsweet commented on #19
Yeah, I'll be getting to this soon (hopefully this weekend or next).

[2015-02-19 11:24] kdzwinel commented on #17
Thanks for looking into it!

1) Yes, I'm using libreoffice dictionaries. [These](https://github.com/kdzwinel/Proofreader/tree/master/dictionaries) to be precise.
2) calling `spellSuggest` in the `addDictionary` callback behaves exactly the same as described above. Dictionary loads without any issues (`err === null`).
3) I can reproduce it on OS X and on Linux (Travis CI): https://travis-ci.org/Goo

[2015-02-19 11:46] kdzwinel commented on #18
I've two minimal examples here: https://dl.dropboxusercontent.com/u/8989748/nodehun-segfault.zip . One uses `readFile`, the other one uses `readFileSync`.

And you are right, `readFile` does work. But why does it behave differently than `readFileSync`?

[2015-02-19 12:32] reznikartem commented on #15
Great news!

[2015-02-22 06:38] nathanjsweet commented on #15
tldr; This works now.

Okay, this is up to date (pushing to npm in a few minutes). PLEASE make sure to pay attention to my notes on versioning. Version 1.x.x is for node prior to v0.12.0 and version 2.x.x works on v0.12.0 and greater. I also did a little research on v8 and noticed that the node docs use methods for obtaining isolates that the v8 team discourages using, because they are going to be

[2015-02-22 06:38] #15 closed

[2015-02-22 14:53] ben-page commented on #15
Great work. Thank you!

[2015-02-22 16:47] nathanjsweet commented on #19
this is done

[2015-02-22 19:11] rexxars commented on #19
Cool. I don't mean to offend in any way, but have you considered using https://github.com/rvagg/nan for abstracting the differences between versions?

Right now it's hard to depend on this project because basically we will be forced to follow the same scheme as you, requiring a given version of node for a given version of our modules.

[2015-02-22 23:57] nathanjsweet commented on #19
This is a not to myself:
https://github.com/rvagg/nan/blob/master/nan.h
I'm going to use node_version.h to build the two different versions based on using ifdef pragmas in the compiler.

[2015-02-25 00:45] nathanjsweet commented on #19
I'm not using NAN, but users shouldn't have to worry about versions anymore

[2015-02-25 00:45] #19 closed

[2015-02-25 08:34] rexxars commented on #19
Thanks Nathan, that's great! Thank you for your hard work 👍

[2015-03-05 21:58] nathanjsweet opened #20 "Separate hunspell fork into another github project"
My hunspell fork allows hunspell to get away from caring about files and just accept buffers as arguments. A pretty powerful abstraction, I've tried patching to the main project, but my project is also a good deal more lightweight and eliminates a lot of the utilities that come with hunspell. A separate project is in order. This will make it easier for other people to wrap the project for other la

[2015-03-11 01:04] nathanjsweet commented on #20
Done [on this commit](https://github.com/nathanjsweet/nodehun/commit/d2098bb56ce47c03a8d1618979240041da9aa46f). Woohoo!

[2015-03-11 01:04] #20 closed

[2015-03-20 22:40] jtemplet opened #22 "Question: Could Nodehun performance increase if there was a Readonly Dictionary Option?"
I was looking at the Nodehun binding code and noticed that in Nodehun::SpellDictionary::checkSuggestions() it sets a lock on the dictionary - before it looks up the word.

In my case, I'm only using the dictionary as read-only, it never changes. So if the dictionary never changes, technically, we don't need a lock on the dictionary and theoretically improving performance.

What I was thinking was

[2015-03-21 00:12] nathanjsweet commented on #22
If you look carefully you'll see that it's a [readwrite lock](https://en.wikipedia.org/wiki/Readers%E2%80%93writer_lock), which means that if all you're doing is reads then the lock won't do anything.

[2015-03-21 00:12] #22 closed

[2015-03-23 18:32] nathanjsweet commented on #18
short answer: I don't really know

long answer: node.js, itself, has a few issues on OSX (as does Python, Ruby, PHP, etc), because OSX has weird configurations that violate what BSD and Linux normally do. This is usually a security thing (i.e. no process on OSX is allowed to have more than 2048 file descriptors at a time). Seg-faults are common.

On the whole OSX is a fine OS to do work on, but it

[2015-04-23 08:38] letunglam opened #23 "Why shouldn't we use readFileSync() ?"
I'm a newbie to nodejs, so please forgive if I ask things that are painfully obvious.

I read the document and I don't know why we shouldn't actually use readFileSync and is there any better solution to read dictionary file?

Any help or example, references would be highly appreciated.

[2015-04-23 20:05] nathanjsweet commented on #23
So, it's fine to use readFileSync if you are doing it on initialization of your program. If you are doing it a lot throughout the lifetime of your program than you are blocking the main thread unnecessarily and should seek to use the non-blocking readFile function.

To understand this paradigm and its history better try googling around to understand what it means when people say that Nodejs is non

[2015-04-23 20:05] #23 closed

[2015-06-10 01:11] nathanjsweet opened #25 "Feature: Add IsCorrect method"
As discussed in [pull request 24](https://github.com/nathanjsweet/nodehun/pull/24), this issue will save significant time for programs that only want to know if a word is spelled correctly or not, without suggestions.

[2015-06-26 11:41] astoilkov opened #26 "Synchronous spell checking"
Is there any way to make a synchronous spell check? The problem I am having is that I am using Atom/Electron platform to built cross platform desktop application and their requirement is to use synchronous spell checking.

Here is the code from their [documentation](https://github.com/atom/electron/blob/master/docs/api/web-frame.md#webframesetspellcheckproviderlanguage-autocorrectword-provider):
[

[2015-06-26 14:07] astoilkov commented on #26
Another approach will be to introduce a synchronous method that just returns true/false if the word is correctly spelled.

[2015-06-26 15:51] erusev commented on #26
I'd also like to know that, thanks.

[2015-07-01 18:34] nathanjsweet commented on #26
Sorry for the late reply. I will try to get to this soon, and it relates to #25 anyways. I am nearing the end of taking a few weeks off for personal reasons. When I am back in action I will create synchronous versions of all the methods.

[2015-07-02 07:52] astoilkov commented on #26
I got really excited when I saw your response. I can't wait to try out the synchronous spellchecking in action.

Happy coding.

[2015-07-14 20:18] erusev commented on #26
@nathanjsweet That's great! Thanks for the prompt response and I look forward to the new methods.

[2015-07-21 12:23] astoilkov commented on #26
Hi Nathan,

What is the status for this issue? We really want to use nodehun as our spell checking library. We are building Desktop application using Electron. We are working on the final touches for our application and we were wondering if you are going to be able to implement these methods.

[2015-07-22 06:04] nathanjsweet commented on #25
This is resolved.

[2015-07-22 06:04] #25 closed

[2015-07-22 06:05] nathanjsweet commented on #26
I am currently working on it still. I will try to get it out by the end of this week.

[2015-07-22 16:12] astoilkov commented on #26
This is great news. Thanks a lot!

[2015-07-23 00:12] nathanjsweet commented on #26
Done 428a262756652caf31358185cc50e8af457fc97d

[2015-07-23 00:12] #26 closed

[2015-07-23 09:11] erusev commented on #26
@nathanjsweet Thanks!

[2015-07-23 11:25] astoilkov commented on #26
Hi,

I just finished the initial implementation of the spell checking in our application. The library worked flawlessly. Thank you very much for your effort.

Have a great day.

[2015-09-23 12:22] wooorm opened #27 "Compilation errors on Travis (Linux)"
Hey @nathanjsweet,

First off: great project, thanks a lot!
Second: I just created a lot of easily insoluble [dictionaries](https://github.com/wooorm/dictionaries), maybe useful for the other nodehun users (or the README?)

And third, I’m getting compilation errors on Travis when building on Node 0.10, 0.11, 0.12, `iojs`, and 4.0. They seems to be related to nodehun rather than my module. Here are

[2015-09-29 15:55] nathanjsweet commented on #27
I'll take a look.

[2015-09-29 16:03] wooorm commented on #27
Thanks @nathanjsweet!

[2015-10-03 18:49] nathanjsweet commented on #27
Titus, you are getting compilation errors for iojs and 4.0, as I have not yet updated nodehun to conform to their new C++ api. However, you are **not** getting compilation errors on the other versions. It looks like your tests are running and a test of yours is [failing](https://github.com/wooorm/retext-spell/blob/master/test.js#L146). I downloaded your en_GB dictionary and tried passing the same

[2015-10-03 18:49] #27 closed

[2015-10-03 18:59] nathanjsweet opened #28 "Update nodehun to conform to new iojs and nodejs 4.0 C++ api using NaN"
Currently nodehun does not build for iojs or nodejs 4.0. The only acceptable fix is to migrate to [NaN](https://github.com/nodejs/nan).

[2015-10-03 19:01] nathanjsweet commented on #28
For bug bounty-hunters. Here are some rules:
1. You have to do this with NaN
2. The documentation and code-style must conform to the style found in this repository's code.

[2015-10-29 07:36] kmsheng opened #29 "npm install failed on windows 7"
Hi ! Thanks for maintaining this project, but I got a little error when doing npm install.

245 error Windows_NT 6.1.7601
246 error argv "C:\\Program Files\\nodejs\\\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install" "nodehun" "--save"
247 error node v0.12.7
248 error npm  v2.11.3
249 error code ELIFECYCLE
250 error nodehun@2.0.8 install: `node-gyp rebuild`
250 er

[2015-11-21 19:49] nathanjsweet commented on #26
Are either of you interested in taking over this project?

[2015-11-23 16:56] astoilkov commented on #26
This is great project. However, we are not familiar with C++ programming and we can't help the project. Sorry. :)

[2015-12-31 15:11] digitalhobo commented on #28
Hi Nathan
Did you manage to get it to work with the migration.

[2015-12-31 17:01] nathanjsweet commented on #28
Hey digitahobo, I have this as an open issue, but I am no longer actively maintaining this repo.

[2015-12-31 17:11] digitalhobo commented on #28
Thanks for getting back to me, I managed to get it working. The problem I had wasn't and issue with module but rather a error while loading shared libraries. It working a treat.
Thanks again - great work. :0)

[2016-02-01 00:21] zaccolley opened #30 "Installation fails on Travis for node versions 4+"
I have a test repo with just nodehun in at 2.08: https://travis-ci.org/zaccolley/nodehun-travis-test

It works locally when I use 5.0.0 which is why I'm confused.

Will continue to try find the issue but opening here if anyone knows.

[2016-05-07 13:42] josephrocca commented on #29
Very late answer, but I see a `node-gyp` error in there, so if that's the root of the problem, then here's the solution:

https://github.com/nodejs/node-gyp/issues/629#issuecomment-153196245

I had the same problem when installing this library on Windows 10.

[2016-05-16 11:05] theolagendijk opened #31 "Not compatible with NodeJS 6"
**node-gyp rebuild** ( part of **npm install nodehun** ) fails on system with latest versions of **NPM** and **NodeJS**.

[2016-05-18 20:28] nathanjsweet commented on #31
I am no longer maintaining this project.

[2016-05-18 20:28] nathanjsweet commented on #30
I am no longer maintaining this project

[2016-05-18 20:28] nathanjsweet commented on #29
I am no longer maintaining this project

[2016-05-18 20:29] #28 closed

[2016-05-18 20:36] theolagendijk commented on #31
sorry to hear that. thanks for the nodehun project!

[2016-08-21 22:23] Wulf commented on #31
I've fixed this in my fork [here.](http://github.com/Wulf/nodehun)

This should work:

`npm install wulf/nodehun`

I'll try to get in touch with @nathanjsweet.

[2016-08-23 17:18] #29 closed

[2016-08-24 18:23] nathanjsweet commented on #31
fixed #32

[2016-08-24 18:23] #31 closed

[2016-08-24 18:23] nathanjsweet commented on #30
fixed #32

[2016-08-24 18:23] #30 closed

[2016-08-24 19:07] wooorm opened #33 "Future"
Hi all! Great that a maintainer has been found. That’s really awesome, @Wulf. And thanks @nathanjsweet for your work so far <3

I’m planning on using a proper spell checker in a pretty big project. I previously used nodehun but due to post-0.12 issues I had to switch. There aren’t any good alternatives around (mainly, they don’t support buffers instead of files), so I tried to write my own in plai

[2016-08-24 19:26] nathanjsweet commented on #33
Hey Titus,
So Wulf has updated the project to keep up with node. He is active in node development, so he will continue to keep up with it. He will be taking over the project (it will move to his account), and he said that the has plans for implementing some known testing frameworks to have better test coverare. If you have documentation stuff you would like to add, I think he would be more than op

[2016-08-26 03:14] Wulf commented on #33
Hey @wooorm!

Yeah as Nathan mentioned, the first step should be setting up tests so that our updates don't break anything. A setup with mocha/chai will do the trick.

Also, help is always greatly appreciated! I'll try to make issues -- feel free to do the same. They can act as tasks that can be attacked one by one.

As for my thoughts on the future: my goal is to make sure nodehun can function in

[2016-08-29 22:34] wooorm commented on #33
Oh that’s really awesome, you both <3

@nathanjsweet One of the things I’m especially interested in, is support for personal dictionaries (those without affixes, see Hunspell(5)), are those already supported in `hunspell-distributed`? And other than that, yes, I’d appreciate syncing with upstream!

@Wulf I’ve got lots of tests from the lib I wrote, but they’re in [tape](https://www.npmjs.com/packa

[2016-08-29 23:23] nathanjsweet commented on #33
@wooorm
Can you add two issues in hunspell-distributed? One for synchronizing with upstream and one for exposing personal dictionaries? It may very well be that they're exposed. I don't know I haven't  investigated.

[2016-08-30 20:02] Thomas101 opened #34 "Cyrillic language support"
Hi,

I've been playing around with nodehun and it doesn't look like it works with cyrillic languages (e.g. greek & russian) in that it always returns that the word is misspelled and there are no suggestions.

This is the code I was testing with. In both languages I took "Hello" off Google translate, then a random word out of the aff file. I was wondering if this was an encoding issue somewhere?

[

[2016-08-31 21:32] danielbankhead commented on #34
Hey @Thomas101, are the `.aff` & `.dic` files in UTF-8?

You can check the encoding with `enca` (installed via brew, yum, etc.)
- Ex: `enca -gL russian ru_RU.dic`

And convert with `iconv`
- Ex: `iconv -f KOI8-R -t UTF-8 ru_RU.aff >> ru_RU-utf8.aff`

Then try `здравствуйте` instead of `Здравствуйте` for 'Hello' (Google Translate is slightly off).

[2016-08-31 21:46] Thomas101 commented on #34
Thanks for looking into this! It does look like it's utf-8. Enca reports...

[code]

I grabbed the dictionary from [this repo](https://github.com/wooorm/dictionaries/tree/master/dictionaries/ru_RU)

I did spot the `3` vs `з` from google translate. I'm not a russian speaker and wasn't sure what the correct thing to do here was hence why I dragged a second word out the dictionary just in case :-)

[2016-09-01 17:12] danielbankhead commented on #34
Found the problem: it looks like the `.aff` and `.dic` and are swapped in that repo. Try:
[code]

[2016-09-01 19:52] Thomas101 commented on #34
Ah well spotted! Tried that and it works, thank you very much

[2016-09-01 19:52] #34 closed

[2016-09-03 03:59] Wulf opened #35 "Add Continuous Integration"
- [x] Add TravisCI for Linux and OSX builds
- [x] Add AppVeyor for Windows builds

[2016-09-03 04:02] Wulf opened #36 "Add Tests"
@wooorm has some tests which could be portable, written with [tape](https://github.com/substack/tape).

Edit `package.json` and make sure the property `scripts.test` is set properly.

[2016-09-03 04:09] Wulf commented on #33
@wooorm, We think alike :)

What I told Nathan when it came to features I wanted to add, dictionary management was one of them. Let's start a discussion around that in another issue.

Regarding matching the Hunspell(3) interface, do you mean [this one](http://linux.die.net/man/3/hunspell)? So you're suggesting instead of something like `spellSuggestions`, we have `suggest` in the exposed javascrip

[2016-09-03 04:14] Wulf opened #37 "Match Hunspell(3) interface"
**Implementation Progress**
Branch: ~`nan`~ `n-api`

Implement methods

- [x] add*
- [x] addSync
- [x] remove
- [x] removeSync
- [x] suggest
- [x] suggestSync
- [x] correct
- [x] correctSync
- [x] stem
- [x] stemSync
- [x] generate
- [x] generateSync
- [x] analyze
- [x] analyzeSync
- [x] addDictionary
- [x] addDictionarySync

After...

- [x] Implementation passes all tests
- [x] Code cleanup
- [x]

[2016-09-03 04:17] Wulf opened #38 "Documentation of API"
Document all the exposed javascript methods in either the [wiki](https://github.com/Wulf/nodehun/wiki) or the [README](https://github.com/Wulf/nodehun/blob/master/readme.md) file.

If there are too many exposed methods, let's go with the wiki.

**Blocked by:** #37

[2016-09-03 04:53] Wulf commented on #36
We should setup coverage after setting up tests.

[2016-09-03 05:11] Wulf opened #39 "Dictionary Management"
@wooorm Let's dicuss dictionary management here.

[2016-09-03 05:29] Wulf opened #41 "Remove warning message when building"
[code]

When building nodehun, the message above is shown.

[2016-09-03 05:32] Wulf commented on #35
For some reason, the builds are failing.
[WIP](/wulf/nodehun/#35-ci)

[2016-09-03 08:10] wooorm commented on #37
Yes! But then camelcased, and also some things, like 'add' and 'addWithAffix' could be in one signature IMO

[2016-09-03 08:11] wooorm commented on #36
Yeah I can do that, only thing is that you should enable travis-ci, and codecov (which I suggest for coverage)

[2016-09-03 15:00] wooorm commented on #33
@nathanjsweet done!

@Wulf 👍 Also: could you add me as a collaborator? Makes it easier to work together :)

[2016-09-03 15:00] wooorm commented on #33
P.S. IMO this can be closed? Seems the future is bright :)

[2016-09-03 15:02] wooorm commented on #36
@Wulf If you add me as a collaborator, I’ll add a first test and the test setup and we can work on the architecture / tests from then on?

[2016-09-03 15:17] wooorm commented on #39
Could we support passing in an [object](https://github.com/wooorm/dictionaries) with `{aff: Buffer, dic: Buffer}`? ...when constructing like so: `new NodeHun()`?

And possible with `createNewNodehun(func, cb)`, where `func` is a function like the dictionary-loaders from [`wooorm/dictionaries`](https://github.com/wooorm/dictionaries/tree/master/dictionaries/nn_NO#usage) (this integration would make

[2016-09-03 20:28] Thomas101 commented on #35
I don't know if this will help, in my fork I've configured [travis](https://github.com/Thomas101/nodehun/blob/master/.travis.yml) and [appveyor](https://github.com/Thomas101/nodehun/blob/master/appveyor.yml) to generate precompiled binaries for my own project. Would be happy to share some experience if you need any help on this.

[2016-09-03 22:54] Pelsin commented on #36
@wooorm @Wulf You guys are doing a great job with this!
I just started using this package yesterday for a hobby project :https://github.com/Pelsin/Speri-Shecku
Thought at about making a PR with simple mocha testa for the finished build, but saw that you have created an issue for this and that @wooorm is on it! 👍

I will hang around and see if there is anything i can help you guys with!

[2016-09-04 18:35] #33 closed

[2016-09-06 20:18] Wulf commented on #36
@Pelsin Sounds good :)

@wooorm Awesome, I'll do that -- please don't push to master though, I prefer we have a separate branch for every issue ([feature branch workflow](https://www.atlassian.com/git/tutorials/comparing-workflows/feature-branch-workflow)). After it's good to go, we'll merge it in to master. I'll create a branch for this issue called `feature/tests`.

[2016-09-06 20:40] Wulf commented on #35
Thanks Thomas! I'll look to your examples.

[2016-09-07 10:41] wooorm opened #42 "Arguments of `callback` for `#spellSuggestions()`"
`callback` in `#spellSuggestions(value, callback)`, is given multiple arguments (`err`, `correct`, `suggestions`, `origWord`).  It would be more in line with Node-style APIs if an object would be given instead, with these parameters.

[2016-09-07 10:41] wooorm opened #43 "Duplication: why do both `spellSuggestions` and `spellSuggestion` exist?"
We should fix this in the API refactor. Right now, the difference in their names makes me expect `suggest` would pass only the best suggestion.

[2016-09-07 10:42] wooorm opened #44 "Difference in return of value of `addWordSync` and given value to `addWord` callback"
`addWordSync` and `removeWordSync` return `boolean`s (probably whether the operation was ok), but `addWord` and `removeWord` pass the operated on word to `callback`.

[2016-09-07 10:52] wooorm commented on #38
IMO we can also drop the docs for the different versions of nodehun.

[2016-09-10 21:46] Wulf commented on #35
For future reference:
Travis-CI doesn't provide a 32-bit testing environment according to [this issue](https://github.com/travis-ci/travis-ci/issues/986).

@Thomas101 I think I got it working! Would you mind looking over the [.travis.yml](https://github.com/Wulf/nodehun/blob/feature/%2335-ci/.travis.yml) and [appveyor.yml](https://github.com/Wulf/nodehun/blob/feature/%2335-ci/appveyor.yml) files?

[2016-09-10 22:02] Wulf commented on #36
Awesome @wooorm!

[2016-09-10 22:09] #36 closed

[2016-09-10 22:14] Wulf commented on #37
Should we deprecate the old API and remove it in the future then? I don't want to break projects lol

[2016-09-10 22:15] Wulf commented on #43
Good call. Relates to #37.

[2016-09-10 22:19] wooorm commented on #37
I’d say just refactor completely, drop old behaviour (note that it wasn’t working properly so it doesn’t break many libraries), and release a major version!

[2016-09-11 07:24] Thomas101 commented on #35
That looks about right (I'm no expert on this -- I've just been trial and error). You can get travis to do 32bit builds on a 64bit box. You basically have to install the 32bit version and compilers. It's a bit messy but there's quite a few repos out there using it. Here's how I managed it...

[Full Reference](https://github.com/Thomas101/nodehun/blob/master/.travis.yml)

[code]

[2016-09-18 23:10] Wulf commented on #35
Thanks Thomas!

[2016-09-19 17:53] jmilesuw opened #47 "Spell sugestions for emojis"
If I use the function spellSuggestionsSync with an emoji the whole server breaks down with Exited from signal: SIGSEGV

[2016-09-21 06:45] Wulf commented on #47
I'll have to look into this.
Repro:
[code]

[2016-10-03 11:03] Arnoku opened #48 "Low response rate"
Amazing job on the spellcheck, however, through extensive testing, I noticed that on average it handles around 20 requests per 5-8 seconds, which is not a high number if using in production environment.
Could you please suggest ways to improve the speed? I've tried _filecache_ as well and it didn't help me much, thank you and sorry if this is not the appropriate place to ask this, but I need to kn

[2016-10-03 11:22] wooorm commented on #48
From my experience, and knowledge implementing suggestions, is that they’re always *very* slow.

Thus, the simplest would be to cap the amount of words you find suggestions for: for example, at 10.
Showing if a word is misspelt or not is a much cheaper operation, so you can still show wrongly spelt words at pretty okay speed.

Another thing is to add a cache: often the same words are misspelt over

[2016-10-03 11:28] Arnoku commented on #48
@wooorm I thank you for your rapid response
I do indeed use optimizations for the latter thing you mentioned - filter out the same words. For the specific thing I'm trying to make, I don't need suggestions, only to have the word be checked against a .dic/.aff dictionary, and figure out if the word is in the dictionary or not, I've tried using both **suggest** and **isCorrect** methods, since I ass

[2016-10-03 11:30] wooorm commented on #48
What’s your code? What dictionary do you use in PHP, and what in Node?

[2016-10-03 12:36] Arnoku commented on #48
I've managed to figure it out, thanks a million, I've been doing it wrongly, instead of caching the physical files themselves, if you cache the **nodehun** objects, that's how you get MUCH faster response times. My bad I suppose, thank you so much nonetheless!

[2016-10-03 12:36] #48 closed

[2016-10-18 22:10] carllx opened #49 "import _multiprocessing > ImportError: DLL load failed: %1"
This is a very meaningful project, but I got error when npm install.

[2016-10-24 23:08] Wulf commented on #49
Hi Carlix, it seems you're on windows! I've had a lot of trouble getting it to work with windows too. I managed to get it working after reading the requirements for [`node-gyp`](https://github.com/nodejs/node-gyp/blob/master/README.md).

[2016-12-08 06:37] vennilapanneer opened #50 "I unable to install nodehun module, thorw below error how can i solve this one Cannot find module 'block-stream installed block-stream also"
$ npm install nodehun

D:\projects\electron-quick-start-master\electron-quick-start-master\node_modules\nodehun>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "" rebuild )
gyp ERR! UNCAUGHT EXCEPTION
gyp ERR! stack Error: **Cannot find module 'block-stream'**
gyp ERR! stack

[2016-12-12 21:52] #41 closed

[2016-12-12 22:27] Wulf commented on #49
@carllx any update on this?

[2016-12-12 22:30] Wulf commented on #50
Hi @vennilapanneer, I'm 99% sure this stems from `node-gyp` and something to do with your windows environment.

[2016-12-13 01:36] Wulf commented on #47
I can't reproduce this anymore! Tried it on the latest node (v7), as well as on another computer with node (v4)

[code]

Here's the script I used:

[code]

[2016-12-13 01:42] Wulf commented on #47
Okay, reproduced it but strangely enough, if you `console.log()` before calling any nodehun function, it doesn't SEGFAULT anymore.

This is really puzzling.

Test script:
[code]

[2016-12-13 01:54] Wulf commented on #47
Okay, so node `v4` and `v5` work just fine with emojis (at least on linux).

When we get to `v6` and `v7`, I was able to reproduce the error after removing the `console.log()` below:
[code]

Any ideas why this might be?

[2017-01-23 11:37] Wulf commented on #50
@vennilapanneer did you manage to resolve this issue?

[2017-01-23 11:38] #49 closed

[2017-01-23 12:17] Wulf commented on #37
**New API proposal**

Reason: to have a direct 1:1 mapping between nodehun and hunspell's API.

Format: `currentSignature`:`hunspellSignature`

Changed
- `addWord`: `add`*
- `addWordSync`: `addSync`
- `removeWord`: `remove`
- `removeWordSync`: `removeSync`
- `spellSuggest`: `suggest`
- `spellSuggestSync`: `suggestSync`

Unchanged
- `stem`: `stem`
- `stemSync`: `stemSync`
- `generate`: `generate`
-

[2017-01-23 12:20] wooorm commented on #37
Hunspell(3) has a `spell` method which is different from `isCorrect`, so I’d suggest `isCorrect` > `correct` and keep `spell` unused so we can maybe add it later:

[code]

[2017-01-23 12:20] wooorm commented on #37
(otherwise I'm 👍)

[2017-01-23 12:23] Wulf commented on #37
Updated the proposal.

[2017-01-23 12:26] Wulf commented on #39
Another note: [hunspell(3)](https://linux.die.net/man/3/hunspell) suggests that a max of 20 dictionaries can be added.

[2017-01-25 20:47] Wulf commented on #47
Dug deeper;

* this doesn't happen with `Sync` methods.
* When two consecutive `async` methods are used, it causes a segfault.

After some research, I came across [this](https://blog.scottfrees.com/building-an-asynchronous-c-addon-for-node-js-using-nan) article, which leads me to believe this has something to do with how `nodehun.cpp` handles those callbacks for the async methods.

One step closer

[2017-01-25 20:51] #50 closed

[2017-03-12 04:36] LaughingSun opened #53 "No async or autoload constructor... how about feature constructor( aff, dic, cb ) where...."
I notice that there is no async constructor or options for an empty constructor (no buffers).  It appears the dictionary (second arg) can be empty though.  Good that.

I purpose the following features added:
1) constructor: a null or undefined for the first argument (aff) will result in construction with a null or empty affix.
2) add method "setAffix(aff)" will set the affix.
3) feature add: const

[2017-03-12 05:43] LaughingSun commented on #38
What the status on this? Any action?  You need help?  I am here for you.

[2017-03-12 10:08] wooorm commented on #53
I don’t think constructors should take a callback, something like:

[code]

...makes more sense to me.

P.S. Maybe my project, [dictionaries](https://github.com/wooorm/dictionaries), may help. It already takes care of loading the files async.

[2017-03-12 12:48] LaughingSun commented on #53
Yes!  Obviously you are absolutely correct.  I will check dictionaries
out.  Thanks.

On Sun, Mar 12, 2017 at 6:08 PM, Titus <notifications@github.com> wrote:

--
Erich Horn
Denpasar, Bali, Indonesia

[2017-03-13 10:45] Wulf commented on #38
@LaughingSun please do! I've been meaning to rewrite the library using [Native Abstractions for Node](https://github.com/nodejs/nan) as per #47, but haven't found the time to do so. After that change, the documentation would need to be re-written as outlined in #37. For now, I think the `README.md` is pretty explicit in terms of the library API, but if think cleaning up the `README.md` would be he

[2017-03-13 12:41] LaughingSun commented on #38
Wulf,

Very cool!  It will be an honor.  I have already gone through the main node
c code, Guess I should go through the rest next.  I think once that is done
I want to do codedocs/jsdocs on the project to make sure I have everything
anchored in my brain.

Then maybe write interface files  for #48, then port the existing library
to next version  #47 again and adding #37 during each review.

Some w

[2017-03-13 16:20] Wulf commented on #35
@Thomas101 I've tried several things before, and gave it another shot now, but I can't seem to have Travis-CI build and test on osx correctly. It seems your recent [osx build](https://travis-ci.org/Thomas101/nodehun/builds/199622358) failed too, but the linux ones are fine. Is this just a problem on Travis's end?

Hope things are well.

[2017-03-13 16:32] Wulf commented on #38
Let's move the re-write discussion to #47.

For documentation, I think the current `README` is very thorough, but wooorm is right in that the version warning isn't relevant to most users. I'll move that to the bottom.

[2017-03-13 16:47] Wulf commented on #47
@LaughingSun I'm going to first setup a NAN testing branch.

[2017-03-13 17:05] LaughingSun commented on #47
Btw, I am not suggesting this yet, but I think much of the loading bith
sync and async should be in a javascript wrapper.  It would greatly
simplify things and I don't imagine there would be a significant benchmark
hit as native <--> node transfer passing overhead is just during loading.
 of course for sync hunspell mostly handles that natively.

On Tue, Mar 14, 2017 at 12:47 AM, Wulf <notificatio

[2017-03-13 19:53] Thomas101 commented on #35
Hi, What errors did you get out?

I was hoping my failures were down to Travis. They were having some serious capacity problems the day I put the last build through and ended up running on my Mac after waiting 60 mins or so. I've not had time to look at it since if I'm honest. Their service status page is showing problems again so might be worth waiting a while :-/

[2017-03-13 20:15] nathanjsweet commented on #53
@LaughingSun

Nodehun does have an asynchronous static method that constructs a nodehun object.
Here's an example:

[code]

[2017-03-13 20:15] #53 closed

[2017-03-13 20:17] nathanjsweet commented on #44
The reason this is done, is because it is presumed that if you are calling the method synchronously you have access to whatever word it is that you added or removed, whereas if you are doing it asynchronously you may not know what word was added/removed if you are using a general purpose function and adding/removing words quite rapidly.

[2017-03-13 20:17] #44 closed

[2017-03-13 20:38] trofim24 commented on #53
We [fork](https://github.com/ONLYOFFICE/nodehun) project with string constructor.

[2017-03-13 21:24] LaughingSun commented on #53
yeah, should be you can give it a null.  I also ended up feeding a 4 byte
buffer as the dictionary so it would construct..  Otherwise yes it has that
capability.

On Tue, Mar 14, 2017 at 4:38 AM, Alexander Trofimov <
notifications@github.com> wrote:

--
Erich Horn
Denpasar, Bali, Indonesia

[2017-03-14 12:31] Wulf commented on #35
Yeah osx builds do take a while to start, but I believe the root of the problem is in our configuration since the build does eventually run.

I think it has to do with the availability of the c compilers:
`make: g++-4.8: No such file or directory`

[2017-03-14 12:40] Wulf commented on #47
I really liked this idea but it seems Javascript has no true asynchronous methods. Also then we'd have a javascript wrapper over the current c++ wrapper.

[2017-03-14 13:12] Wulf commented on #47
I just looked over this again and I don't think NAN will solve the problem :/
Going to try anyway.

[2017-03-14 13:42] LaughingSun commented on #47
Wulf,

You obviously know something I don't.  What do you mean javascript(node)
has no true async methods?  Some reference  s ai can understand what you
are talking about.  Do you mean when the calls actually happen?  How is
reafFile not async?

On Tue, Mar 14, 2017 at 9:12 PM, Wulf <notifications@github.com> wrote:

--
Erich Horn
Denpasar, Bali, Indonesia

[2017-03-14 17:25] Wulf commented on #47
I may be making something up haha.

Your idea yesterday really peeked my interest; however, after doing some research, I came to an understanding that nothing is truly asynchronous in Node (with the exception of I/O - which is implemented natively using [`libuv`](https://github.com/libuv/libuv)). Node runs on a single thread, so function calls just get deferred and aren't really executed in parall

[2017-03-14 19:17] danielbankhead commented on #47
Hey @Wulf,

This should help with understanding the JS event loop: [Philip Roberts: What the heck is the event loop anyway? | JSConf EU 2014](https://www.youtube.com/watch?v=8aGhZQkoFbQ)

The link is a bit inaccurate & outdated - notably the part about:

Take the following example:
[code]

`process.nextTick` will always be ran before `setImmediate` and `setTimeout`, thus the loop will go on foreve

[2017-03-15 09:01] Thomas101 commented on #35
I re-tried one of the old builds last night in the hope that would work, but it comes out with the same error. I've posted up on [StackOverflow](https://stackoverflow.com/questions/42805126/travis-ci-osx-build-started-to-fail-on-make-g-command-when-using-node-pre-gyp) hopefully someone there can shed some light on it :-/

[2017-03-15 17:49] Wulf commented on #47
Thanks Daniel, that was an awesome overview. Child processes are definitely not the route we want to take just to do async calls.

[2017-03-20 00:26] loretoparisi opened #54 "Java Fatal Error: SIGSEGV"
I get sometimes a fatal error when running nodehun module:

[code]

Following the full JVM stacktrace:

[code]

[2017-03-20 20:49] Wulf commented on #54
Hi @loretoparisi, thanks for reporting this.

Could you briefly go over how you're using nodehun in Java?

[2017-03-21 10:08] loretoparisi commented on #54
@Wulf I think in a very ordinary way within a node module, in the synced version of the api interface.

[2017-03-24 13:41] samartioli opened #55 "spellSuggest, promises, and express"
spellSuggest does not behave as expected when the callback is wrapped in a promise.

[I created a repo to demonstrate the issue](https://github.com/abeai/nodehun-promise-example)

[2017-04-17 10:51] trofim24 commented on #55
Very similar to nodejs/node#5691

[2017-06-05 12:31] Wulf commented on #35
Removed osx builds for now.

[2017-06-05 12:31] #35 closed

[2017-09-05 15:33] psycura opened #56 "Async behaviour"
Hello, and thank you for this awesome library.

I have a small issue with isCorrect behaviour

small example:

[code]
as output i always get an final result and empty array at first, and "temp result" and array with wrong words after it.

my question how i can be sure, that final result will be fired only  after checking of all my words?

[2017-09-08 15:37] Wulf commented on #56
Hi @psycura :)

You may be looking for something like [async functions](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function). They use [Promises](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise) in the background.

[code]

[2017-09-09 01:26] callodacity opened #57 "Can this be used to differentiate nouns, adjectives, adverbs, etc.?"
I'm looking for a way to check if a word is a noun, adjective, verb, adverb or conjunction.

I've tried looking through the hunspell documentation for `analyze` but I don't think I can use the information from that to differentiate between word types.

Do you know if this is at all possible with `nodehun`?

[2017-09-18 03:28] Wulf commented on #57
Hi @callodacity,

Actually, Hunspell does support this! Check out the [Morphological analysis](http://www.manpagez.com/man/4/hunspell/) section in the hunspell docs.

Here's the example from the hunspell docs, but it uses `nodehun`:

[code]

[2017-09-18 13:45] callodacity commented on #57
@Wulf thanks for the response!

Do I need a special dictionary to get that data? This is what I'm getting now:

[code]
As you can see I'm not getting the `"po:verb"` part from `analyze`.

[2017-09-20 00:44] Wulf commented on #57
Uh-huh, you need a dictionary which contains all the metadata defining whatever you need.

`fl:B` just indicates that the word is flagged with B. Glance over the "Twofold suffix stripping" example in the [hunspell docs](http://www.manpagez.com/man/4/hunspell/) - notice how the `drink` entry in the dictionary file has the flag `X`? (`drink/X`).

[2017-09-20 00:45] #56 closed

[2017-09-20 12:22] callodacity commented on #57
Perfect. Thank you so much for your help 👍

[2017-09-20 12:22] #57 closed

[2017-09-29 19:50] Wulf commented on #47
Good news, this should be fixed in the `nan` branch. That branch also matches the Hunspell (3) API interface (as discussed in #37) - thus `spellSuggestionsSync` is renamed to `suggestSync`.

[2017-09-29 19:57] Wulf commented on #43
`spellSuggest` and `spellSuggestSync` have been dropped in the `nan` branch (which implements API described in #37).

Reason: The native code which fetches a single suggestion isn't more efficient than that which fetches multiple suggestions.

[2017-09-29 19:57] #43 closed

[2017-09-29 20:07] Wulf commented on #54
@loretoparisi I know this was a long time ago, but it would be nice if you described how to reproduce this bug.

Were you using the Nashorn engine or something? J2V8? I'm stumped by the involvement of the JVM.

[2017-09-29 20:21] Wulf commented on #47
@LaughingSun checkout `NodehunObject.cpp` in the `nan` branch - it has many method stubs ready to be implemented!

Also, sorry for taking forever. I appreciate your patience, and if you don't have time to contribute, please don't worry about it.

[2017-09-29 20:22] #47 closed

[2017-09-29 21:19] Wulf commented on #55
Hi @samartioli, thanks for reporting this and the great example you've setup!

I was able to reproduce this on linux! I tested this with the new `nan` branch, and the bug was no longer present (the promise resolved just fine). Thus, this will be fixed in the next major version (nodehun@3.0.0).

In the next version, `spellSuggest` will no longer be present, only `spellSuggestions` is available. And

[2017-09-30 21:37] Wulf opened #58 "Cache suggestions"
Use an LRU cache to save results for `suggest` and `suggestSync`. Enable this via an API like

[code]

[2017-10-02 07:03] loretoparisi commented on #54
@Wulf thanks for remind me about this, I will run tests again, since I do not remember the original issue.

[2017-10-13 14:28] sebastiandittrich opened #59 "Inconsistent spellcheck results"
Sometimes, but only under certain conditions, Nodehun classifies words that are actually correct as false. I have attached a file that returns 66 instead of 26 spelling mistakes in some (very rare) cases.

[example.zip](https://github.com/Wulf/nodehun/files/1382889/example.zip)

[2017-11-19 17:51] Wulf commented on #54
Closing this for now, please feel free to re-open it.

[2017-11-19 17:51] #54 closed

[2017-11-19 17:53] Wulf commented on #59
Thanks for reporting this, I'll check it out this weekend.

[2017-11-21 17:26] loretoparisi opened #60 "build error: rror: `make` failed with exit code: 2"
Hello, since this module has been deprecated I'm trying to build from sources, but I'm not sure how. I have `node-gyp` installed, and I do:

[code]

[2017-11-22 05:58] Wulf commented on #60
Hey @loretoparisi I wrote a small section at the bottom of the README:
https://github.com/Wulf/nodehun/blob/nan/readme.md#developmentcontributing

Let me know if `npm build` works for you or not.
Regards

[2017-11-22 13:21] loretoparisi commented on #60
@Wulf thanks. On latest commit if I do `npm run build` I get a

[code]

error.

[2017-11-22 19:10] Wulf commented on #60
I ended up getting the same error, but I made the mistake of not switching to the `nan` branch. Please try re-cloning like below:
[code]

Also, it's not completely implemented in nan yet; there are many method stubs.
Regards

[2017-11-24 07:04] Wulf commented on #60
@loretoparisi did it work out?

[2017-11-24 08:42] loretoparisi commented on #60
@Wulf Hello, so I have tried and I get

[code]

and I can see in `Release`:

[code]

Is it ok? I see the static library here.

[2017-11-24 20:13] Wulf commented on #60
Yup! It looks like it compiled :)

Closing this, but feel free to continue the discussion.

[2017-11-24 20:13] #60 closed

[2017-11-27 13:14] loretoparisi commented on #60
@Wulf thanks, so due to this module deprecation, what do you suggest to keep support? I have npm as well, so should do I make a fork an publish to npm the forked one? I'm trying to figure out how to maintain this package in the next for projects that have `nodehun` as dependency (directly or not).

Thanks!

[2017-11-27 22:58] Wulf commented on #60
@loretoparisi is something wrong with the module? It isn't deprecated, everything should work, even with the latest version of node!

[2017-11-27 23:03] Wulf commented on #59
hey @sebastiandittrich I went through your example and I wasn't able to reproduce 66 spelling mistakes at all. What conditions did you run this under?

[2017-11-29 23:01] Wulf commented on #60
@loretoparisi That was removed in #41 lol, I'm not sure why you see that message.

[2017-11-29 23:06] Wulf commented on #60
Also, please see #37 if you'd like to help migrate this project to use [`nan`](https://github.com/nodejs/nan) and have it match the hunspell 3 interface (and other small things like having the constructor follow node conventions). I can help you along :)

[2018-02-28 14:07] JessyNeves opened #62 "Accessing variables within dict.spellSuggest() method."
Hello,
How would you access the ''suggestion'' returned by the method? The result is indeed well printed in the console when calling the console.log(), as shown on the ReadMe file.
By calling it outside the method (as shown commented below), it says suggestion is not defined. I guess the problem with what i'm doing is related to the scope of the variable, which I understand.

However, i can't seem

[2018-02-28 17:08] #62 closed

[2018-03-01 22:34] #59 closed

[2018-05-11 07:21] loretoparisi opened #63 "error: no matching member function for call to 'NewInstance'"
I have

[code]

stacktrace:

[code]

[2018-05-20 10:32] Wulf commented on #63
The `nan` branch compiles but it isn't fully implemented yet. (Please see #37 -- would love some help)

Will try to resolve this issue soon!

[2018-05-20 12:06] #63 closed

[2018-05-21 08:25] Wulf commented on #63
@loretoparisi I pushed the latest version to npm :)

[2018-05-29 12:10] ashutoshrishi commented on #55
I am currently experiencing this with the master branch, and resorting to using setImmediate for now. Should I be using the `nan` now ?

[2018-11-27 17:36] loretoparisi opened #64 "Prepare for hunspell 1.7"
Hunspell 1.7 is almost [ready](https://github.com/hunspell/hunspell/commit/4ddd8ed5ca6484b930b111aec50c2750a6119a0f). This main version comes with a lot of changes and improvements. Do you have a timeline when it will be available in nodehun?
Thank you!

[2019-03-22 02:15] thiagorova opened #65 "Seems like Generate isn't working?"
So... I just tried generate with dictionaries downloaded with `hunspell-dict-downloader`. I'm not sure if I'm the idiot here, or if generate is just not working... As in not working, I mean the response is always an empty array
Here's what I did (it was doing a very initial test, so forgive the sync stuff):
[code]
on the same note, I tried using analyse on some words, and it gave a rather funky re

[2019-03-22 02:16] thiagorova commented on #65
btw, just to let you know, I tested with pt-br and en-au language files. This is where my last question/suggestion came from... sorry about that

[2019-03-28 16:46] Wulf commented on #65
Thanks for reporting this, I'll look into it on the weeekend :)

[2019-03-28 16:48] Wulf commented on #64
Looks like it released even before your post hehe
https://github.com/hunspell/hunspell/releases/tag/v1.7.0

Feel free to suggest a plan of action!

[2019-04-03 12:05] Wulf commented on #65
Hey @thiagorova, hope all is well.

You were on the mark with the problem being the language files you were using.

`.aff` files that are commonly available often don't have enough data to produce useful output for `generate()` and `analyze()`.

The `examples/dictionaries` folder has dictionary files downloaded from LibreOffice's repository and they have enough metadata to produce useful output.

[2019-04-03 12:05] #65 closed

[2019-04-03 12:08] Wulf commented on #64
Closing, feel free to reopen!

[2019-04-03 22:58] thiagorova commented on #65
i see... thanks a lot for confirming it, though!
I'll check these out for sure

[2019-05-17 08:43] zomilanovic opened #66 "Can't install nodehun with node 12.2.0"
[code]

[2019-05-21 18:06] Wulf commented on #66
Thanks for reporting this, looks like those deprecation warnings have caught up.

That `nan` rewrite is now necessary. Actually, it would be interesting to ditch that effort and use `napi` as it's maintained alongside node.js.

Will try to get to this soon!

[2019-06-13 18:20] caugner opened #68 "How to install nodehun in node:alpine?"
I'm trying to provide hunspell via a rest API:

#### `package.json`

[code]

#### `Dockerfile`

[code]

#### `docker build .`

Unfortunately the install fails:

[code]

[2019-06-21 16:28] Wulf commented on #68
Hey @caugner,

Currently, nodehun is broken for Node v12; they've made some breaking changes!

Please use v11 for now, I'm hoping to get nodehun running with `napi` soon which will resolve these issues.

[2019-06-21 16:28] #68 closed

[2019-06-21 16:29] Wulf commented on #68
Related to #66.
Please feel free to reopen and continue the discussion.

[2019-06-21 23:27] Wulf opened #69 "addWithAffix"
@hyspell exposed the `addWithAffix` Hunspell function :rocket:

We need to do the following:

- [x] add a section in the readme to document it
- [x] add a test to `test/index.js` (see `examples/l_addWordAffix.js`)

[2019-06-25 06:50] mohamedsahadkp opened #70 "Can't install nodehun with node 11.11.0"

[2019-06-25 18:20] Wulf commented on #70
Yikes, thanks for reporting this.

[2019-06-25 18:21] Wulf commented on #70
We need to change the node versions that the tests are run on

[2019-06-26 18:33] mohamedsahadkp commented on #70
Which version?

On Tue 25 Jun, 2019, 11:51 PM Wulf, <notifications@github.com> wrote:

[2019-07-28 08:53] bbenoist opened #71 "Add TypeScript bindings"
It would be cool to have [TypeScript type definitions](https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html) for the library.

After a few searches, it looks like using [nbind](https://github.com/charto/nbind) could do the trick if you don't want to write them by yourself (as in [opencv4nodejs](https://github.com/justadudewhohacks/opencv4nodejs/tree/master/lib/typings)

[2019-08-07 10:07] trofim24 opened #72 "Can't install nodehun with node 10.16.2"
`error C2144: syntax error : 'int' should be preceded by ';' (..\src\nodehun.cpp)`
`error C4430: missing type specifier - int assumed. Note: C++ does not support default-int`

[2019-09-24 11:07] ShockwaveNN opened #73 "Git clone with submodules failed"
Run
`git clone --recurse-submodules https://github.com/Wulf/nodehun.git`

Result:
[code]

Seems related that https://github.com/Wulf/nodehun/tree/master/src -> `hunspell @ a7601cf` link to 404

[2019-09-24 11:21] trofim24 commented on #73
Nathanjsweet archived his repository forked from 'hunspell'. May we resume the transition to the original 'hunspell' - https://github.com/Wulf/nodehun/pull/51 ?

[2019-10-24 09:51] loretoparisi opened #74 "node-v12.13.0 error"
I get this compilation error while using `node lts`, hence ` node-v12.13.0`
[code]

[2019-10-25 12:25] loretoparisi commented on #66
@Wulf thanks, so it should be the same of https://github.com/Wulf/nodehun/issues/74?

[2019-11-10 12:12] Wulf opened #75 "Publish Nodehun v3"
The `n-api` branch is almost ready to be merged into master.

It should resolve the following issues:

#74  node-v12.13.0 error
#73  Git clone with submodules failed
#72  Can't install nodehun with node 10.16.2
#71  Add TypeScript bindings
#70  Can't install nodehun with node 11.11.0
#69  addWithAffix
#66  Can't install nodehun with node 12.2.0
#55  spellSuggest, promises, and express
#42  Argumen

[2019-11-13 03:02] Wulf opened #77 "Known Bugs v3"
## <a id="known-bugs"></a>Known Bugs

* Requesting suggestions for emojis is broken

[2019-11-13 03:45] Wulf commented on #74
Hey @loretoparisi, thanks for your patience with this issue. Could I request you try installing nodehun 3? The API has slightly changed, you can find the documentation [here](https://github.com/Wulf/nodehun/blob/n-api/src/Nodehun.d.ts).

[code]

[2019-11-13 03:50] Wulf commented on #70
Sorry @mohamedsahadkp, seems I forgot to reply back -- thanks for your patience.

Could I request you to try nodehun 3 and see if it resolves your issue?

[code]

[2019-11-13 03:53] Wulf commented on #72
Hey @trofim24, thanks for your patience. Please let me know if the n-api build solves your issue:

[code]

[2019-11-13 03:54] Wulf commented on #71
This will be featured in 3.0.0, thanks @bbenoist.

If you're keen to try it now:

[code]

[2019-11-13 03:56] Wulf commented on #69
Test added in `n-api` branch. We just need to document it in the readme now~

[2019-11-13 03:58] Wulf commented on #66
@loretoparisi seems like it.

@zomilanovic thanks for your patience, could I request you try nodehun 3 and see if it solves your compilation issue?

[code]

[2019-11-13 04:02] Wulf commented on #55
@samartioli @ashutoshrishi @loretoparisi thanks for your patience everyone, Promises are embedded directly into the addon now in the `n-api` branch. They will be featured in `3.0.0` which should be released in the following few days.

If you're still around, please let me know if the new version fixes the issue:

[code]

[2019-11-13 14:30] loretoparisi commented on #74
@Wulf ok thank you I will try it.

[2019-11-14 11:41] vishnusankaran commented on #66
Hi @Wulf , I am unable to see the latest release in https://www.npmjs.com/package/nodehun

Since node-gyp depends on
https://www.npmjs.com/package/proofreader
https://www.npmjs.com/package/spellchecker_ptbr
https://www.npmjs.com/package/proofread-core
https://www.npmjs.com/package/writewell

and they have `nodehun` as a dependency, they also would need to update this?

[2019-11-16 00:53] Wulf commented on #66
@vishnusankaran, thanks for checking in. No release yet. I'm hoping to hear back from some others before publishing it to npm.

As for packages that depend on `nodehun`, they would definitely need to update to 3.0 once it's released if they intend to target node version 12 or higher.

If you want to try 3.0 even though it's not released, please try specifying the branch when installing:

[code]

[2019-11-16 10:24] loretoparisi commented on #74
@Wulf I get a `error Cannot read property 'resolve' of undefined` error when trying to install to

[code]

[code]

[2019-11-16 12:18] Wulf commented on #74
@loretoparisi, thanks for trying this! I'm sad to see the install command fail -- do you think it's possibly something to do with `npm` itself? [This](https://github.com/nodejs/help/issues/1941) is all I found about the error. Kindly try updating to the latest npm:

[code]

[2019-11-16 12:27] loretoparisi commented on #74
@Wulf so This is what I did now:

[code]

[2019-11-16 12:34] loretoparisi commented on #74
More info from logging file

[code]

[2019-11-17 19:39] Wulf commented on #74
@loretoparisi thanks again for your time.

Could you please try installing it once more (`npm i -S wulf/nodehun#n-api`). I've lifted the C++17 requirement by switching from `std::shared_mutex` to libuv's `uv_rwlock_t` since it ships with Node.js by default.

[2019-11-18 09:00] loretoparisi commented on #74
@Wulf okay let me try today again.

[2019-11-18 17:07] loretoparisi commented on #74
@Wulf I get
[code]

[2019-11-18 18:06] Wulf commented on #74
It seems npm 6.12.0 is broken -- we got the same error earlier. Could you update to the latest again?

 `npm i -g npm@latest`

It worked when you used 6.13.0.
Would you prefer if I published the package instead?

[2019-11-18 19:19] loretoparisi commented on #74
@Wulf uhm I think it would be safer to double check this, in my case (and I think several other) it may result in a package disruption :D let me try again thanks!

[2019-11-18 20:17] Wulf commented on #74
Cool, sounds good, thanks a bunch :)

[2019-11-19 12:39] zomilanovic commented on #66
I tried installing nodehun 3 and it seems the compilation issue is gone.

[2019-11-19 13:07] loretoparisi commented on #66
@zomilanovic on which OS you were successful?

[2019-11-19 13:46] loretoparisi commented on #74
@Wulf Hello, so I have tested

[code]

against both node v11 and v12 for back compatibility:

[code]

and

[code]

so for me it's ok to move to latest 🚀

Sidenote: a lot of packages breaks with node v12, among then `node-svm`, `node-java`, ...so I will stuck with node v11 until I get rid of the other ones...

[2019-11-19 13:55] loretoparisi commented on #75
@Wulf I don't see a refactoring of `isCorrectSync`: `TypeError: this.dictionary.isCorrectSync is not a function`. Which is the replacement?

[2019-11-20 14:40] zomilanovic commented on #66
@loretoparisi macOS Catalina 10.15.1

[2019-11-20 15:17] loretoparisi commented on #66
@zomilanovic ok thank you. By the way at the end I was able to make it working too, so for me green light!!! Thanks.

[2019-11-22 13:29] loretoparisi commented on #74
@Wulf I'm having this new issue `npm ERR! undefined ls-remote -h -t ssh://git@github.com/wulf/nodehun.git`
I'm using the new`"nodehun": "github:wulf/nodehun#n-api"`

[2019-11-24 15:09] Wulf commented on #66
Thanks for verifying!

[2019-11-24 15:18] Wulf commented on #74
Yikes, I didn't know `nan` was also broken by v12! Anyway, thanks for testing this Loreto :)

With regards to the `npm ERR! undefined ls-remote...` -- I'm going to assume that some npm versions just don't like installing from a specific branch. I'll test out `"nodehun": "^3.0.0"` after publishing. Hopefully that will resolve the issue.

[2019-11-24 16:02] Wulf commented on #37
@wooorm hope things are well.

Thanks a lot for pushing for 1:1 naming between hunspell and nodehun. The API changes we agreed upon here are applied in v3.0.0 with one caveat:

* instead of `correct`/`correctSync`, I opted to use `spell`/`spellSync`.

There are two main for this:

1. Checking the spelling of a word is done via the `int spell(...)` method that hunspell exposes, thus, using `spell`

[2019-11-24 16:02] #37 closed

[2019-11-24 16:11] Wulf commented on #42
Hey @wooorm, thanks for this suggestion. I agreed with you when I first saw this request, and I think the new API resolves this concern since it supports Promises (and thus `async/await`) out-of-the-box:

[code]

Going to close this issue, but feel free to reopen it or continue the discussion.

[2019-11-24 16:11] #42 closed

[2019-11-24 16:24] Wulf commented on #55
I got a chance to verify that this doesn't occur with Nodehun v3 on node version 10, 11 and 12.

I changed the definition of the `spellSuggestPromise` function in [samartioli's repository](https://github.com/abeai/nodehun-promise-example) to the following:
[code]

Thanks again for reporting this in a detailed manner and making it easy for us to reproduce the error. I'm going to close this issue, b

[2019-11-24 16:24] #55 closed

[2019-11-24 16:25] #66 closed

[2019-11-24 16:32] #69 closed

[2019-11-24 16:34] Wulf commented on #70
I'm going to close this issue but feel free to reopen it or continue the discussion :)

[2019-11-24 16:34] #70 closed

[2019-11-24 16:36] #71 closed

[2019-11-24 16:36] #72 closed

[2019-11-24 16:37] Wulf commented on #72
3.0.0 seems to have resolved the compilation issues, feel free to reopen this or continue the discussion :)

[2019-11-24 16:49] Wulf commented on #73
hey @ShockwaveNN, I forked the original repo so this shouldn't be a problem anymore. Feel free to reopen this issue or continue the discussion.

@trofim24 sorry but I don't think we can abandon support for buffers. It's like Nathan said -- users of the library still rely on them.

Going to close this. Please create a new issue or reopen #51 if you feel that's an important step forward.

[2019-11-24 16:49] #73 closed

[2019-11-24 16:54] Wulf commented on #74
Hey @loretoparisi after publishing and installing 3.0.0, everything worked just fine. I found and fixed an error with the type declaration file (will release the fix in 3.0.1).

Let me know if `"nodehun": "^3.0.0"` fixes the `npm ERR! undefined ls-remote...` error.
If not, it might be the lock file (`package-lock.json` or `yarn.lock`). Try deleting that and running `npm install` again.

Thanks aga

[2019-11-24 16:56] #75 closed

[2019-11-24 16:57] #38 closed

[2019-11-24 16:58] Wulf commented on #38
Thanks for your patience everyone, 3.0.0 documents the API in the README.

[2019-11-24 17:40] wooorm commented on #38
Awesome work @Wulf!

[2019-11-27 10:31] loretoparisi commented on #74
@Wulf confirmed! It works fine now with

[code]

[2019-11-27 10:31] #74 closed

[2020-03-18 11:57] luddd3 opened #78 "Segfault on suggestion"
Hi,
I'm having segfault issues during suggestions (see stack below). It happens now and then every day for a service that run spelling-suggestions quite often.

[code]

I noticed that they have had similar problems in hunspell, maybe it is related?
https://github.com/hunspell/hunspell/commit/ac938e2ecb48ab4dd21298126c7921689d60571b

[2020-03-23 17:40] luddd3 commented on #78
The crash was due to emojis...

[2020-03-23 17:40] #78 closed

[2020-03-27 11:06] dfoteinakis opened #79 "Nodehun and Hunspell produce different results"
I'm testing with Hungarian dictionaries found [here](https://github.com/titoBouzout/Dictionaries) as well as the ones coming from
`
apt-get install hunspell-hu
`
I have tested with v.2.x of Nodehun as well as the latest  version (3.0.1). I have tested with node 8.6 and v12.16.1.

This is hunspell output form command line:

[code]

The sample code i'm using to test with nodehun:
[code]

Any ideas?

[2020-05-12 10:49] loretoparisi opened #80 "[ERROR] TypeError: cannot use a string pattern on a bytes-like object"
I'm getting this error with latest `nodehun` `nodehun@3.0.1`

[code]

[code]

I'm not sure if this issue is related to node-gyp version, because I'm using node v12 since a while and it worked ok.

[2020-05-12 11:11] loretoparisi commented on #80
**[UPDATE]**
Okay, according here, this issue seems to be related to macOS and using `/usr/local/bin/python` as Python 3.7.7, while node-gpy (still) only supports Python 2.7.

Closing, maybe this can help some one else btw.

[2020-05-12 11:11] #80 closed

[2020-07-27 16:04] MikaelUrankar opened #82 "nodehun fails to build"
[code]

 cc -v
FreeBSD clang version 10.0.1 (git@github.com:llvm/llvm-project.git llvmorg-10.0.1-rc2-0-g77d76b71d7d)
Target: x86_64-unknown-freebsd13.0
Thread model: posix
InstalledDir: /usr/bin

[2020-08-01 21:17] #82 closed

[2020-08-09 22:04] vahaknp opened #84 "Chrome extension: Nodehun in webpack"
Hi! I'm trying to use this package through webpack and am running into issues including it. Granted, I'm new to the world of webpack, so I was wondering if I was making an obvious mistake or there's something fundamentally off in my approach.

Whenever I include the package in one of my files as such:
[code]

and I build webpack, I get the following error:
[code]

Any help would be very much appre

[2020-08-10 07:21] Wulf commented on #84
hey @vahaknp, hope things are well.

Is it possible for you to push your code to github or a similar platform?

[2020-08-10 23:22] niftylettuce commented on #79
Bump

[2020-08-10 23:40] niftylettuce commented on #79
Nevermind, I am seeing the same results.

[2020-08-15 17:50] vahaknp commented on #84
Hi @Wulf! Doing well, hope you are as well! Thank you for such a quick response, and sorry I haven't gotten back to you until now.

Here's my very much WIP code: https://github.com/vahaknp/armenianinternetproject/tree/spellcheck_nodehun

Any advice you can give would be super helpful – I'm very much a webpack beginner 😅

[2020-08-15 22:52] vahaknp commented on #84
Could it be that I need to use a specific loader, such as https://github.com/ushu/node-addon-loader, because Nodehun uses `node-addon-api`?

[2020-08-19 01:13] Wulf commented on #84
hey @vahaknp thanks for sharing your code :)

I recommend you bundle [NSpell](https://github.com/wooorm/nspell) with your chrome extension instead; it's almost a drop-in replacement for this library and is implemented completely in JavaScript. You'll miss out on native performance, but it should hopefully be fast enough.

Otherwise, I think there are a few hurdles to cross when dealing with native

[2020-08-19 18:01] vahaknp commented on #84
Thanks for the response @Wulf !

I figured that as well, so I have a parallel branch where I use NSpell – I've run into one issue already (which I've reported https://github.com/wooorm/nspell/issues/27), but I think that one is probably much easier to solve than dealing with native binaries.

Another approach I was considering was calling C++ directly (through https://webassembly.org/ or whatever

[2020-09-05 23:34] Wulf commented on #84
Hey @vahaknp, hope things going well. I'm going to close this issue but feel free to reopen it :)

[2020-09-05 23:35] #84 closed

[2020-09-11 08:29] #79 closed

[2020-10-10 21:15] fabiospampinato opened #85 "Dumping all known words"
Would it be possible somehow to dump all known words given a dic and aff file?

[2020-11-02 11:59] Wulf commented on #85
Hope you found the answer @fabiospampinato!

For future visitors, here's a lead:
https://github.com/hunspell/hunspell/issues/696

[2020-11-02 11:59] #85 closed

[2021-02-04 17:51] victorborrasdev opened #92 "Hunspell GPL license"
Hi! I'm considering using Nodehun for a commercial SaaS, but I'm a little confused by the license. My knowledge in this realm is minimal, but if I understand correctly, this uses Hunspell, which is GPL. Wouldn't this license apply to Nodehun as well? Then, if that's the case, I can't use it in my project, am I right?

Thanks in advance!

[2021-02-08 14:31] Wulf commented on #92
Hey Victor, hope things are well!

Any of the wrapper code is licensed under [LICENSE.md](https://github.com/Wulf/nodehun/blob/master/LICENSE.md), but as you suggested, this does compile a fork of hunspell and so its license will also need to be taken into consideration.

Not sure about the other details, sorry.

[2021-02-08 15:14] victorborrasdev commented on #92
Ok, thank you very much 😄

[2021-02-08 15:14] #92 closed

[2021-03-03 08:04] TaeYeopKim opened #93 "nodehun with electron jenkins build error"
I am using electron, react frontend and nodejs backend.

I am trying to use nodehun in the project. Locally everything works fine, but when I build it on Jenkins and try to run it on another computer, its spitting out issues.

-----------------------------------------------------------------------------------------------------------------

`A JavaScript error occurred in the main process
Uncaught

[2021-04-02 19:15] imigueldiaz opened #95 "React app can´t find module"
Hi,

Using on my App.tsx

`import { Nodehun } from "nodehun";`

when I launch my react application compilation from powershell with

`yarn react-start`

 It crrashes with message:

[code]

Is it possible to load  nodehun on a React application or I need to create a separate application as API to interact with React?

Best!

[2021-04-05 13:18] Wulf commented on #95
It should work in electron :)

[2021-04-05 18:16] imigueldiaz commented on #95
I'll try on electron files, thanks! 👍🏼

[2021-04-05 18:16] #95 closed

[2021-04-27 04:07] Wulf commented on #93
@TaeYeopKim hey Tae, I'm not too familiar with Jenkins, could you give me more details?

[2021-05-23 13:04] Wulf commented on #93
Closing this, feel free to reopen!

[2021-05-23 13:04] #93 closed

[2021-05-23 13:06] Wulf commented on #39
Closing; if there are others who would like to see this feature, please feel free to reopen this issue!

[2021-05-23 13:06] #39 closed

[2021-12-10 12:16] vipranarayan14 opened #97 "What version of Hunspell is used here?"
Hi
I am using nodehun for automatically testing the dictionary that I am developing for Hunspell. So, I want to know to which version of the [main hunspell](https://github.com/hunspell/hunspell/), the fork used here correspond.

I checked the readme, the 'hunspell' folder, issues, etc. But I couldn't find the version of the Hunspell used here. From issue #64, I could infer that it is not the lates

[2021-12-13 03:18] Wulf commented on #97
Hey @vipranarayan14, thanks for reaching out.

The fork uses `1.3.2` but it could be a few commits on top of this version. I'm hoping Hunspell 2 will have a buffer interface, in which case, we'll switch and use the main branch.

Relevant issues here:
https://github.com/hunspell/hunspell/pull/443
https://github.com/hunspell/hunspell/issues/603

[2022-02-01 06:56] Crazy-kun opened #98 "Library don't works inside docker container"
My Dockerfile:
[code]
My index.ts:
[code]
Result:
`[Node] [nodemon] app crashed - waiting for file changes before starting...`

If i run it outside the container - all works fine.

[2022-02-01 07:00] Crazy-kun opened #99 "App crashes in docker container"
My Dockerfile:
[code]

My index.ts
[code]

Result:
`[Node] [nodemon] app crashed - waiting for file changes before starting...`
`Segmentation fault`

If i run it outside container - all works fine.

[2022-02-01 07:24] #98 closed

[2022-02-01 18:37] Wulf commented on #99
hey Crazy, could you try `FROM node`?

[2022-02-03 07:20] Crazy-kun commented on #99
With node:latest nodehun is working. Thank you!

[2022-02-06 23:14] #99 closed

[2022-02-06 23:36] Wulf commented on #97
It's just because of time.

I think if we rebase the work done [here](https://github.com/hunspell/hunspell/pull/443/files) on top of 1.7.0, we can use that as a fork instead.

I'm going to close this issue for now, but please feel free to open another one pertaining to updating the fork :-)

[2022-02-06 23:36] #97 closed

[2022-02-07 14:42] vipranarayan14 commented on #97
Thanks, @Wulf.

Surely, updating to 1.7.0 will help me and might also help [many others who use nodehun](https://www.npmjs.com/browse/depended/nodehun). I want to work on this.

I checked the files in [the PR](https://github.com/hunspell/hunspell/pull/443/files) you shared and compared some of the files with the current version's files. As far as what I can see, it seems doable for me. But my c++

[2022-02-09 15:53] Wulf commented on #64
hey @vipranarayan14, let me know how I can help you with this!

[2022-02-09 15:54] vipranarayan14 commented on #97
okay, great! I will start working on it.

[2022-02-13 16:08] Wulf commented on #64
Yeah, it's a submodule, try recloning the repository using this:

[code]

[2022-03-11 17:26] #58 closed

[2022-04-12 15:11] wooorm opened #104 "Does not work from ESM"
Seems that the `.node` extension trips up Node when running a file as a module (ESM).

To repro on node 12, 14, 16, 17:

[code]

in `example.mjs`:

[code]

Then running `node example.js` yields:

[code]

[2022-07-18 07:15] Wulf commented on #104
Thanks for reporting this @wooorm :)
Sorry for the late response -- I looked into this, and apparently it's just not supported at the moment.

https://nodejs.org/api/esm.html#no-native-module-loading:

<img width="649" alt="image" src="https://user-images.githubusercontent.com/4259838/179459986-ed668cd5-4421-4193-b3af-d564aaa8aec9.png">

Here's a snippet!
[code]

I'm going to pin this so others ca

[2022-08-14 15:33] Wulf commented on #64
Hey, I’m closing this for now. Feel free to reopen it

[2022-08-14 15:33] #64 closed

[2022-08-17 05:34] vipranarayan14 commented on #64
Sure. Got busy with other works. I will let you know when I start working on it.

[2022-08-17 08:53] Wulf commented on #64
sounds good :)